.search_container{
    background-image: url("./../../../../core/images/wave.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space_container{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}