.search_container {
    background-image: url("./../../../../core/images/wave.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space_container {
    background-color: #fff;
    border-radius: 12px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
    opacity: 0.9;
}

.space_container {
    align-items: self-end;
}

@media (max-width: 768px) {
    .space_container {
        grid-template-columns: 1fr; 
        width: 70%;
        padding: 10px;
    }

    .search_container {
        padding: 0 10px;
    }
}
