.main_header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 1px 1px 1px #ccc; 
   color: #fff;
}

.logo{
    height: 120px;
    max-width: auto;
    display: flex;
    align-items: center;
}
